global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'backend'
    metrics_path: /metrics
    static_configs:
      - targets: ['backend:8081']

  - job_name: 'postgres'
    metrics_path: /metrics
    static_configs:
      - targets: ['postgres_exporter:9187']

  - job_name: 'node'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
    metrics_path: /metrics

  - job_name: 'k6'          
    static_configs:
      - targets: ['k6:6565']  
    scrape_interval: 5s     
    metrics_path: /metrics  